.menu{
    display: flex;
    align-items: center;
    cursor: pointer ;
text-decoration: none;
}
.menu:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--main-color);
    padding-right: 30px;
}
.menu h2{
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
    display: contents;
    /* check */
}
.menu--active{
    color: var(
        --main-color
    );
}