.rightsection{
    flex: 0.3;
    /* padding-right: 30px; */
}
.search{
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.search input{
    border: none;
    background-color: var(--background);
}
.rightsectioncontainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.conatainerheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--background);
}
.conatainerheading h2{
     font-size: 18px;
    font-weight: 800;
}
.trending-card{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--background);
}